# CryptoQuantMFT environment variables
FIRI_API_KEY=835b7c633a9104dadcd39b539bd248ac8ccf17f027763e631ca0ac4d635e54b1
KRAKEN_API_KEY=3DCORfj6pvO/54nzxswMGHiIl3pOXDVvk6R/W7rvoqrTaul+3M9NMf+9
KRAKEN_SECRET=cB/79JKJY2Zk4FgJwGVpPk7EZa15zDn1xjCCecaBfnz1+EP/Tiyq9liVIUNyFVI4Ifijde/I8PKYh1fEMGqUEQ==
LOG_LEVEL="INFO"
DATABASE_PATH="data/cryptoquant.db"
EUR_NOK_FALLBACK="11.50"

